.container {

    width: 50%;
    margin: auto;
    margin-top: 3%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 5%;
    border-radius: 20px;

}

@media screen and (max-width:900px) {
    .container {
        width: 90%;
    }
}